<main id="signup">
  <nav class="banner">
    <%= image_tag('logo.svg', class: 'logo')%>
    <div class="links">
      <span>Language: <b>English</b></span>
      <span>Have an account? </span>
      <b><%= link_to("Log in", "/login")%></b>
    </div>
  </nav>
  <div class="container form-box">
    <% if resource.errors.present? %>
      <div class="flash flex error">
        <% resource.errors.full_messages.each do |message| %>
            <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <h1>Join Twitter today.</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.text_field :full_name, class: "form-input", placeholder: "Full Name", required: true %>
    <%= f.text_field :email, class: "form-input", placeholder: "Email", required: true %>
    <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, class: "form-input", placeholder: "Password", minlength: 8, maxlength: 76, required: true, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, class: "form-input", placeholder: "Confirm Password", minlength: 8, maxlength: 76, required: true, autocomplete: "off" %>
  <div class="actions">
    <%= submit_tag("Sign up", id: "sign-up", class: "form-button") %>
  </div>
<% end %>
    <div>
      <p>
        By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by email or phone number when provided.
      </p>
      <a href="#">Advanced options</a><br>
    </div>
  </div>
</main>
