<nav class="flex">
  <div class="links">
    <span class="glyphicon glyphicon-home"></span>
    <%= link_to("Home", '/') %>
    <span class="glyphicon glyphicon-flash"></span>
    <a href="#">Moments</a>
    <span class="glyphicon glyphicon-comment"></span>
    <a href="#">Notifications</a>
    <span class="glyphicon glyphicon-envelope"></span>
    <a href="#">Messages</a>
  </div>
  <%= link_to(image_tag('logo_blue.svg', class:"logo"), '/profile') %>
  <div>
        <span class="dropdown">
          <span class="dropdown-toggle" type="button" id="profile-menu" data-toggle="dropdown">
            <%= image_tag get_avatar(@currentUser, 'thumb'), class:"img-circle"%>
          </span>
          <ul class="dropdown-menu" aria-labelledby="profile-menu">

            <li>
              <%= form_for(@currentUser, url: destroy_user_session_path, html: { method: :delete }) do %>
                  <%= submit_tag("Logout") %>
              <% end %>
            </li>
          </ul>
        </span>
    <button class="tweet-button">Tweet</button>
  </div>
</nav>