<section id="edit-user-info">
  <div class="form flex">
    <%= form_for user, url: user_registration_path, html: { method: :put } do |f| %>
        <%= f.text_field :full_name, required: true %>
        <%= f.text_field :email, disabled: true %>
        <%= f.text_field :location, placeholder: 'Update your location.' %>
        <div class="footer flex">
          <%= submit_tag("Update", class: "tweet-button-white")%>
        </div>
    <% end %>
  </div>
</section>