<section id="edit-user-info" style="width:33%;">
  <div class="form flex">
    <%= form_for(@user, url: user_path(@user.id)) do |f| %>
        <%= f.text_field :full_name, required: true %>
        <%= f.text_field :email, disabled: true %>
        <%= f.text_field :location %>
        <div class="footer flex">
          <%= submit_tag("Update", class: "tweet-button-white")%>
        </div>
    <% end %>
  </div>
</section>